@tailwind base;
@tailwind components;
@tailwind utilities;


/*------- LENIS -------*/
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/*------- NON TOUCH DEVICES -------*/
@media (hover: none) and (pointer: coarse) {
  .cursor {
    @apply hidden;
  }
}

/*------- GENERAL -------*/
.headerScrolling {
  @apply bg-white shadow-sm
}

::-webkit-scrollbar {
  display: none;
}

.navmenu_gradient {
  background: linear-gradient(180deg, #FFF 0%, #E4EBF3 60%);
}

.navmenu_gradient2 {
  background: linear-gradient(180deg, #FFF 0%, #E0E0E0 60%);
}

.navMenuLink:hover {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke: 1.5px #111111;
}

.center {
  @apply top-1/2 -translate-x-1/2 left-1/2 -translate-y-1/2
}

.about_gradient {
  background: linear-gradient(180deg, #FFF 69.79%, #E4EBF3 99.96%, #E3EBF3 99.97%, #E6EDF4 99.98%, #E5EDF4 99.99%, #E4EBF3 100%);
}

.section {
  @apply container px-5 md:px-6 lg:px-8 xl:px-10 2xl:px-0 xl:max-w-[1280px] py-10 sm:py-14 md:py-[80px] mmd:py-[100px]
}

.section2 {
  @apply container px-5 md:px-6 lg:px-8 xl:px-10 2xl:px-0 xl:max-w-[1280px] 
}

.section_footer {
  @apply container px-5 md:px-6 lg:px-8 xl:px-10 2xl:px-0 xl:max-w-[1280px] py-[50px] m7:py-[55px] md:py-[80px] mmd:py-[100px]
}

.footer {
  @apply container px-5 md:px-6 lg:px-8 xl:px-10 2xl:px-0 xl:max-w-[1280px]
}


.footerTitle {
  @apply leading-[1.35] sm:leading-[1.30] lg:leading-[1.25] text-[27px] max-w-[311px] ssm:text-[32px] ssm:max-w-[360px] xsm:text-[38px] xsm:max-w-[450px] xsm2:text-[44px] xsm2:max-w-[500px] m6:text-[49px] m6:max-w-[552px] sm:text-[51px] sm:max-w-[600px] m7:text-[57px] m7:max-w-[655px] md:text-[62px] md:max-w-[724px] m8:text-[67px] m8:max-w-[787px] mmd:text-[74px] mmd:max-w-[856px] m9:text-[81px] m9:max-w-[915px] lg:text-[84px] lg:max-w-[950px] m1:text-[87px] m1:max-w-[990px] m17:text-[91px] m17:max-w-[1035px] xl:text-[95px] xl:max-w-[1080px]
}

.footerDisc {
  @apply leading-5 md:leading-[1.35rem] mmd:leading-[1.50rem] m9:leading-[1.55rem] m1:leading-[1.60rem] m17:leading-[1.65rem] xl:leading-[1.70rem] text-[13px] m6:text-[13.5px] m6:max-w-[602px] m7:text-[14px] m7:max-w-[630px] md:text-[15px] md:max-w-[650px] m8:text-[16px] m8:max-w-[700px] mmd:text-[17px] mmd:max-w-[860px] m9:text-[17.5px] m9:max-w-[890px] m17:text-[18px] m17:max-w-[910px] xl:text-[19px] xl:max-w-[960px]
}

/*------- PROJECT DETAILS BUTTON -------*/
.cta {
  position: relative;
  padding: 12px 20px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  @apply md:py-[14px] lg:py-[15px] xl:py-[17px] lg:px-6 xl:px-[27px]
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #e0e0e0e8;
  width: 100%;
  height: 45px;
  transition: all 0.3s ease;
  @apply  md:h-[50px] lg:h-[55px] xl:h-[60px]
}

.cta span {
  position: relative;
  line-height: normal;
}

.cta .svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  transform:  translateX(-5px) ;
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 45px;
  background: #e0e0e0e8;
  @apply  md:w-[50px] lg:w-[55px] xl:w-[60px]
}

.cta:hover .svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}
